h2 {
  text-align: center;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  justify-content: center;
}

.gallery-link {
  display: block;
  width: 360px;
  height: 200px;
  overflow: hidden;
  transform: scale(1);
}

.gallery-link:hover,
.gallery-link:focus {
  transform: scale(1.03);
}

.gallery-lightbox {
  background-color: rgba(46, 47, 66, 0.8);
}

.gallery-lightbox button.sl-close {
  width: 32px;
  height: 32px;
}

.close-btn,
.next-btn,
.prev-btn {
  margin: 0 auto;
}

.gallery-lightbox .sl-navigation button.sl-next,
.gallery-lightbox .sl-navigation button.sl-prev {
  width: 24px;
  height: 24px;
}

.gallery-lightbox div.sl-counter {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.64px;
}
